extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        |        | Online newspapers, also known as digital newspapers or e-newspapers, are web-based versions of traditional print newspapers. They serve the same fundamental purpose as print newspapers—to inform readers about current events, news stories, features, and opinions on various topics, but they do so in a digital format accessible via computers, smartphones, tablets, and other connected devices.